@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  color: #656565;
  font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }

a {
  font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }

.style_case {
  text-align: center;
  /* border: 1px solid gray; */
  border-radius: 35px;
  background-color: lightblue; }

.administration {
  font-size: 2vh; }

#chartdiv {
  height: 45em;
  width: 100%;
  /* display: -webkit-inline-box; */ }

.hidden {
  display: none; }

/* voyage animation */
.scrollable {
  overflow: scroll; }

[aria-label="plane2 "] {
  border-bottom: 2px solid red;
  transition-timing-function: ease-out;
  transition: 2.5s; }

/*    */
.text_center {
  text-align: center; }

.text.flex1 {
  border: none; }

#chartdiv.flex1 {
  border: none;
  height: 45em;
  overflow: hidden;
  text-align: unset;
  /* float: right; */
  position: fixed;
  margin-left: 25%;
  margin-top: 5%;
  width: 100%; }

.contain_login {
  display: flex;
  text-align: center;
  height: 45em;
  padding: 15%; }

.login_div, #contact_div, #presentation_div {
  flex: 1;
  height: 15em;
  line-height: 2;
  border: 2px solid gray; }

.container_contact, .container_presentation {
  display: flex;
  text-align: center;
  height: 45em;
  padding: 3%; }

body > .container {
  display: -webkit-inline-box;
  width: 100%; }

#country_if_mobile {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%; }

.login_div button {
  color: white;
  background-color: gray;
  width: 10em;
  height: 2em;
  border: none; }

#main_pic {
  width: 100%;
  height: 44em; }

.image_container {
  position: relative;
  text-align: center;
  color: white;
  display: inline-flex; }

.center {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 7.4em;
  font-size: 2.76923em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  color: white;
  font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  transform: translate(-50%, -50%); }

.center_enter {
  position: absolute;
  top: 52%;
  left: 50%;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 1.5em;
  font-weight: normal;
  padding: 1%;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  color: white;
  font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  transform: translate(-50%, -50%); }

.form-group textarea {
  margin-left: 5.4%; }

.form-group #name {
  margin-left: 16%; }

.administration .form-group #name {
  margin-left: 9%; }

.administration .form-group #latitude {
  margin-left: 0.8%; }

.administration .form-group {
  line-height: 2; }

.administration .form-group textarea {
  margin-left: 6.6%; }

.administration .form-group .align_file {
  margin-left: 5.5%; }

input[type="submit"] {
  color: white;
  background-color: gray;
  width: 10em;
  height: 2em;
  border: none; }

.center_enter:hover {
  background-color: white;
  color: black; }

.display_flex {
  display: flex;
  flex-direction: column; }

.fix_me {
  display: flex;
  /* flex-direction: row-reverse; */
  flex-flow: row-reverse; }

.sorting {
  flex: 1;
  padding-right: 1%; }

.flex1 {
  padding: 2%;
  flex-basis: 16%;
  flex-grow: 1;
  line-height: 5;
  border: 2px solid gray;
  border-right: none;
  border-left: none; }

/* Story */
.text {
  position: absolute;
  z-index: 1000;
  width: 100%;
  /* display: inline-block; */
  padding: 5em 3em; }

.text section {
  font-size: 1.25em;
  line-height: 1.7; }

.text section h2 {
  font-size: 2.7em;
  font-weight: 400;
  margin: 0;
  text-align: left; }

.text section:not(:first-child) h2 {
  padding: 2em 0 0 0; }

.title-up {
  font-size: 0.365em;
  font-weight: bold;
  display: block;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #cecec5; }

.title-down {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 1.35em;
  font-weight: 400;
  line-height: 0.9;
  display: block;
  padding: 0.15em 0 0.35em;
  color: #5f646c; }

.text figure {
  margin: 1em 0 2em; }

.text figure img {
  max-width: 100%; }

.text figcaption {
  font-size: 0.85em;
  font-style: italic;
  padding: 1em 1.5em 0;
  text-align: center;
  color: #5f646c; }

.text section p {
  font-size: 0.95em;
  margin: 0.5em 0 1.5em; }

.text section p.text-intro {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5;
  margin: 0.5em 0 1.25em;
  text-align: left;
  color: #9d9c95; }

.text blockquote {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 2em;
  line-height: 1.5;
  position: relative;
  text-align: left;
  color: #939997; }

.text blockquote::before {
  content: '\201C';
  font-size: 2.5em;
  font-style: italic;
  line-height: 1;
  position: absolute;
  top: -0.15em;
  right: 100%;
  margin: 0 0.075em 0 0;
  color: #f0f3f3; }

.text blockquote span {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  white-space: nowrap;
  color: #cbcece; }

.js-section {
  width: 50%;
  max-width: 50%; }

.js-gallery {
  padding-top: 50px;
  padding-bottom: 50px; }

.js-gallery-content {
  font-size: 0;
  text-align: center; }

.js-gallery-content img {
  max-width: 100%;
  margin: 10px 0; }

@media (max-width: 720px) {
  .header-title {
    font-size: 1.5em; }

  .intro {
    font-size: 1.25em;
    height: auto;
    padding: 1em; }

  .text {
    font-size: 0.85em;
    padding: 2em;
    text-align: justify; }

  .text section h2 {
    font-size: 1.85em; }

  .text blockquote {
    font-size: 1.45em; }

  .js-section {
    width: 100%;
    max-width: none; } }
.navigation {
  height: 70px;
  background: #ffffff; }

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em; }
  .brand a,
  .brand a:visited {
    color: #656565;
    text-decoration: none; }

.nav-container {
  max-width: 1000px;
  margin: 0 auto; }

nav {
  float: right; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        padding: 0 20px;
        line-height: 70px;
        background: #ffffff;
        color: #656565;
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          color: #a1e0e4; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 70px;
  width: 70px; }

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block; }

  nav {
    width: 100%;
    padding: 70px 0 15px; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }

  .nav-dropdown {
    position: static; } }
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important; } }
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #656565;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  height: 5em;
  width: 70%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Give+You+Glory);*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("./fonts/codropsicons/codropsicons.eot");
  src: url("./fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("./fonts/codropsicons/codropsicons.woff") format("woff"), url("./fonts/codropsicons/codropsicons.ttf") format("truetype"), url("./fonts/codropsicons/codropsicons.svg#codropsicons") format("svg"); }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  color: #a7a0a2;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', Arial, sans-serif; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

a {
  color: #8e888a;
  text-decoration: none;
  outline: none; }

a:hover, a:focus {
  color: #a7a0a2; }

.codrops-header {
  margin: 0 auto;
  padding: 9em 2em;
  text-align: center;
  background: #444;
  color: #f2f8f8;
  position: relative;
  overflow: hidden; }

.codrops-header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 3.5em;
  line-height: 1.3;
  position: relative; }

.codrops-header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 60%;
  opacity: 0.7; }

/* To Navigation Style */
.codrops-top {
  background: #444;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.69em;
  line-height: 2.2; }

.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 1px;
  color: #919191; }

.codrops-top a:hover {
  color: #fff; }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  display: block;
  float: left; }

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.codrops-icon-drop:before {
  content: "\e001"; }

.codrops-icon-prev:before {
  content: "\e004"; }

.description {
  padding: 6em 8em;
  overflow: hidden; }

.description p {
  font-size: 200%;
  text-align: center;
  max-width: 800px; }

.description p,
.codrops-header p {
  margin: 0 auto 1em;
  font-weight: 300;
  line-height: 1.4; }

.codrops-header p {
  opacity: 0.5;
  text-align: left;
  font-size: 200%; }

.columns p {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid; }

svg.polaroid {
  margin: 0 auto;
  display: block;
  max-width: 100%; }

.description svg.polaroid {
  padding: 5px 0 30px; }

svg.polaroid rect {
  stroke: #beb4b7;
  fill: #fff;
  stroke-width: 6; }

.codrops-header svg.polaroid {
  position: absolute;
  top: 50%;
  z-index: 0;
  opacity: 0.1;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.codrops-header svg.polaroid rect {
  fill: #444;
  stroke-width: 2; }

.related {
  text-align: center;
  font-size: 1.35em;
  padding: 6em 2em;
  overflow: hidden;
  background-color: #444; }

.related > a {
  border: 3px solid #3c3c3c;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
  color: #3c3c3c;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s; }

.related a:hover {
  color: #beb4b7;
  border-color: #beb4b7; }

.related a img {
  max-width: 100%;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.related a:hover img,
.related a:active img {
  opacity: 1; }

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left; }

@media screen and (min-width: 60em) {
  .columns {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em; }

  .codrops-header .columns {
    padding: 3em 0 0;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em; } }
@media screen and (max-width: 45em) {
  .codrops-header,
  .description {
    font-size: 80%; }

  .description {
    padding: 4em 1.5em; }

  .codrops-header svg.polaroid {
    height: 200px; } }
@media screen and (max-width: 25em) {
  .codrops-icon span {
    display: none; }

  .codrops-icon:before {
    font-size: 160%;
    line-height: 2; } }
@font-face {
  font-family: 'icons';
  src: url("./fonts/icons/icons.eot");
  src: url("./fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("./fonts/icons/icons.woff") format("woff"), url("./fonts/icons/icons.ttf") format("truetype"), url("./fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.photostack {
  background: #ddd;
  position: relative;
  text-align: center;
  overflow: hidden; }

.js .photostack {
  height: 45em; }

.photostack-start {
  cursor: pointer; }

/* Wrapper and figures */
/* The size of this wrapper can be smaller if the items should not be scattered across the whole container */
.photostack > div {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.photostack figure {
  width: 320px;
  height: 360px;
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 40px;
  text-align: center;
  margin: 5px; }

.js .photostack figure {
  position: absolute;
  display: block;
  margin: 0; }

.photostack figcaption h2 {
  margin: 20px 0 0 0;
  color: #a7a0a2;
  font-size: 16px; }

.photostack-img {
  outline: none;
  display: block;
  width: 240px;
  height: 240px;
  background: #f9f9f9; }

.photostack-back {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  font-family: "Give You Glory", cursive;
  color: #a7a0a2;
  padding: 50px 40px;
  text-align: left;
  font-size: 22px;
  line-height: 1.25;
  z-index: 1; }

.photostack-back p {
  margin: 0; }

.photostack-back p span {
  text-decoration: line-through; }

/* Navigation dots */
.photostack nav {
  position: absolute;
  width: 100%;
  bottom: 30px;
  z-index: 90;
  text-align: center;
  left: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.photostack-start nav {
  opacity: 0; }

.photostack nav span {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #aaa;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, background 0.3s;
  transition: transform 0.6s ease-in-out, background 0.3s;
  -webkit-transform: scale(0.48);
  transform: scale(0.48); }

.photostack nav span:last-child {
  margin-right: 0; }

.photostack nav span::after {
  content: "\e600";
  font-family: 'icons';
  font-size: 80%;
  speak: none;
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 30px;
  color: #fff;
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.photostack nav span.current {
  background: #888;
  -webkit-transform: scale(1);
  transform: scale(1); }

.photostack nav span.current.flip {
  -webkit-transform: scale(1) rotateY(-180deg) translateZ(-1px);
  transform: scale(1) rotateY(-180deg) translateZ(-1px);
  background: #555; }

.photostack nav span.flippable::after {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

/* Overlays */
/* Initial overlay on photostack container */
.js .photostack::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s; }

.js .photostack-start::before {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

/* Button on photostack container */
.js .photostack::after {
  content: 'View Gallery';
  font-weight: 400;
  position: absolute;
  border: 3px solid #fff;
  text-align: center;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 101; }

.js .photostack::before,
.js .photostack::after {
  opacity: 0;
  visibility: hidden; }

.js .photostack-start::before,
.js .photostack-start:hover::after,
.touch .photostack-start::after {
  opacity: 1;
  visibility: visible; }

/* Overlay on figure */
.photostack figure::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s; }

/* Hide figure overlay when it becomes current */
figure.photostack-current::after {
  -webkit-transition: opacity 0.6s, visibility 0s 0.6s;
  transition: opacity 0.6s, visibility 0s 0.6s;
  opacity: 0;
  visibility: hidden; }

/* Special classes for transitions and perspective */
.photostack-transition figure {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out; }

.photostack-perspective {
  -webkit-perspective: 1800px;
  perspective: 1800px; }

.photostack-perspective > div,
.photostack-perspective figure {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.photostack-perspective figure,
.photostack-perspective figure div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.photostack-perspective figure.photostack-flip {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

.csstransformspreserve3d figure.photostack-flip .photostack-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: block; }

.no-csstransformspreserve3d figure.photostack-showback .photostack-back {
  display: block; }

/* The no-JS fallback look does not need to be boring ;) */
.no-js .photostack figure {
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.05); }

.no-js .photostack figure::after {
  display: none; }

.no-js .photostack figure:nth-child(3n) {
  -webkit-transform: translateX(-10%) rotate(5deg);
  transform: translateX(-10%) rotate(5deg); }

.no-js .photostack figure:nth-child(3n-2) {
  -webkit-transform: translateY(10%) rotate(-3deg);
  transform: translateY(10%) rotate(-3deg); }

/* Some custom styles for the demo */
/* Since we don't have back sides for the first photo stack, we don't want the current dot to become too big */
#photostack-1 nav span.current {
  background: #888;
  -webkit-transform: scale(0.61);
  transform: scale(0.61); }

.photostack-img img {
  width: 100%;
  height: 15em; }

/*# sourceMappingURL=style.css.map */
